.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent;
  transition: all 0.3s ease;
}

.main-navbar.sticky {
  background: transparent;

}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  /* Logo left, hamburger right */
  align-items: center;
  padding: 0px 50px;
  position: relative;
}

.main-navbar.sticky .navbar-wrapper {
  background-color: rgba(0, 0, 0, 0.80);
}

/* Default logo style */
.logo-box img {
  width: 120px;
  height: auto;
  transition: all 0.4s ease;
  /* Smooth transition */
}

/* When navbar becomes sticky */
.main-navbar.sticky .navbar-wrapper .logo-box img {
  width: 75px;
}

/* Hamburger */
.menu-toggle {
  cursor: pointer;
  font-size: 28px;
  color: white;
  z-index: 1001;
}

/* Overlay Menu */
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 999;
}

.nav-overlay.open {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.overlay-menu {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 120px;
}

@media (min-width: 992px) {

  .main-navbar.sticky .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    z-index: 999;
    overflow: inherit;
  }


  .main-navbar.sticky .overlay-menu {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .main-navbar.sticky .overlay-menu li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 0.3s;
  }

  .main-navbar.sticky .overlay-menu li {
    margin: 25px 15px;
  }

  .main-navbar.sticky .overlay-menu li a:hover {
    color: gold;
  }


  .main-navbar.sticky .menu-toggle {
    display: none;
  }

}

.overlay-menu li {
  margin: 25px 0;
}

.overlay-menu li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.3s;
}

.overlay-menu li a:hover {
  color: gold;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .logo-box img {
    width: 70px;
  }

  .overlay-menu li a {
    font-size: 20px;
  }

  .navbar-wrapper {
    padding: 5px 20px !important;
  }

}