@media only screen and (max-width:768px) {
    .quality-block {
        background-size: cover;
        height: auto;
        background-position: center;
        /* background-attachment: fixed; */
        position: relative;
        z-index: 1;
        padding: 4.3rem;
        background-image: none !important;
    }
}

@media only screen and (min-width:768px) {
    .quality-block {
        background-size: cover;
        height: 100vh;
        background-position: center;
        /* background-attachment: fixed; */
        position: relative;
        z-index: 1;
        padding: 4.3rem;
    }
}

.quality-block .parallax-content {
    position: relative;
    z-index: 2;
}

.quality-block h1 {
    padding-bottom: 32px;
}

.countpara {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
}

.count-title {
    font-size: 45px;
    font-weight: 500;
    color: black;
}

.count12 {
    font-size: 45px;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 112%;
}

.quality-block .countpara .count3 {
    margin-top: 5px !important;
}
/* Mobile + Tablet */
@media (max-width: 1024px) {
  .countpara {
    justify-content: flex-end !important;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .card-aligment {
    margin-left: -94px !important;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .card-aligment {
    margin-left: -200px !important;
  }
}


