.contact {
  position: relative;
  z-index: 1;
}

.contact {
  position: relative;
  overflow: hidden;
  background-size: 35% 22%;
  background-position: right 106%;
  /* pseudo-element bahar na nikle */
}

.contact::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scale(-1, -1);
  pointer-events: none;
  z-index: 0;
  background-size: 15% 16%;
  background-position: inherit;
}

.home-highlights_text {
  text-align: left;
}

@media only screen and (max-width:768px) {
  .contact {
    background-size: 40% !important
  }

  .contact::before {
    background-size: 40% !important
  }

}