.imageCard {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media (max-width: 767px) {

    .overlayCard {
        position: relative;
        width: 100%;
        background: white;
        padding: 20px;
        border-radius: 6px;
        transition: all 0.4s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }
}

@media (min-width: 767px) {

    .overlayCard {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 60%;
        max-width: 550px;
        background: white;
        padding: 20px;
        border-radius: 6px;
        transition: all 0.4s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }
}

.detailsRow,
.detailsRowStatic {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    color: #6c757d;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

.detailsRowStatic {
    margin-top: 10px;
}


.enquireBtn {
    background-color: #e94f35 !important;
    border: none;
    margin-right: 10px;
    padding: 6px 20px;
}

.callBtn {
    background-color: #e94f35 !important;
    border: none;
    margin-right: 10px;
    padding: 6px 20px;
}

.whatsappBtn {
    background-color: #25d366 !important;
    border: none;
    padding: 6px 20px;
}